

/* 
NOTE: These are styles that are ONLY applicable to editing a document using CKEditor, NOT for rendering. If you need to add css rules
that should be applied to the actual, consumable, document, following the guide for modifying the built content-styles.css stylesheet
*/
.html5video {
	margin-left: auto;
	margin-right: auto;
}
.ck-content .video {
	display: table;
	clear: both;
	text-align: center;

	/* Make sure there is some space between the content and the image. Center image by default. */
	margin: 1em auto;

	& video {
		/* Prevent unnecessary margins caused by line-height (see #44). */
		display: block;

		/* Center the image if its width is smaller than the content's width. */
		margin: 0 auto;

		/* Make sure the image never exceeds the size of the parent container (ckeditor/ckeditor5-ui#67). */
		max-width: 100%;

		/* Make sure the caption will be displayed properly (See: https://github.com/ckeditor/ckeditor5/issues/1870). */
		min-width: 50px;
	}
}

.html5video > video {
    /* 
      CKEditor REALLY doesnt like playing HTML5 video in the editor. Therefore, allow it to render as it would in the browser, but DONT let the user
      play it, or interact with it in any way.
    */
    pointer-events: none;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.html5video {
  display: table;
}

.html5video > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: #333;
  background-color: #f7f7f7;
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
  text-align: center;
}

.ck-content {
	& .image-style-side,
	& .image-style-align-left,
	& .image-style-align-center,
	& .image-style-align-right {
		max-width: 50%;
	}

	& .image-style-side {
		float: right;
		margin-left: var(--ck-image-style-spacing);
	}

	& .image-style-align-left {
		float: left;
		margin-right: var(--ck-image-style-spacing);
	}

	& .image-style-align-center {
		margin-left: auto;
		margin-right: auto;
	}

	& .image-style-align-right {
		float: right;
		margin-left: var(--ck-image-style-spacing);
	}
}